/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */
 
//@import 'angular_material';
/* MIXINS */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin no-select($val) {
  -webkit-user-select: $val;
  -moz-user-select: $val;
  -ms-user-select: $val;
  user-select: $val;
}

/*RESET*/
body {
  margin: 0;
  padding: 0;
}

/* VARIABLES */
// COLORS 
$color: #2ca1b6;
$color-bg: #FFFFFF;
$color-grey:lightgrey;
$color-dark:#343a3f;
$color-button:#f0c702;

// TEXT
$text-indent: 15px;

// DIMENSIONS 
$break-small: 320px;
$break-large: 1200px;
$break-ipad-portrait: 640px;

/* APP CLASS */
.app{
  @media screen and (min-width: $break-ipad-portrait) {
    width:  640px;
  }
  width:  315px;
  border: 1px solid $color-grey;
  height: 100%;
  background: $color-bg;
  margin: 0 auto;
  font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;

    &_toolbar{
      width:  100%;
      height: 58px;
      border-bottom: 10px solid $color;
      text-align: right;
      cursor: pointer;
      @include no-select(none);

      &_hamburger{
        width: 25px;
        height: 18px;
        margin: 20px 20px 0 0;
        display: inline-block;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
      }

      &__middleLine{
        border-top: 2px solid grey;
        height: 1px;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }

    &_tabs{
      width: 100%;
      height: 75px;
      vertical-align: baseline;
      @include no-select(none);

      &_tab{
        display: inline-block;
        width: 33.3%;
        background: $color-grey;
        height: 100%;
        text-align: center;
        line-height: 70px;
        text-decoration: none;
        font-weight: bolder;
        color: $color;
      }
    }

    &_signIn{
      padding-left:20px;
      height: 64px;
      text-align: left;
      vertical-align: baseline;

      &_text{
        line-height: 30px;
        display: inline-block;
      }
    }

    &_connectionType{
      padding-left:20px;
      height: 50px;
      border-top: 1px solid $color-grey;
      vertical-align: baseline;

      &_text{
        display: inline-block;
        font-weight: bold;
      }
    }

    &_section{
      height: 1165px;
      margin-bottom: 98px;
      border-bottom: 1px solid $color-grey;

      @media screen and (min-width: $break-ipad-portrait) {
        height: 983px;
      }

      &_form{
        display: inline-block;

        // or possible calc(100% - 18px);
        // *18px - is .psd hard-coded padding value for mobile
        width: 88.60759493670886%;       //280px / 316px
        padding-left:5.69620253164557%;  //18px  / 316px
        padding-right:5.69620253164557%; //18px  / 316px

        &_fieldset{
          width: 100%;
          border: none;
          margin: 0 0 10px 0;
          padding-right: 0;
          padding-left: 0;

          > label{
            display: none;
            @media screen and (min-width: $break-ipad-portrait) {
              display: inline-block;
              width: 37%;
              text-align: right;
            }

            &[for="gender"]{
              display: inline-block;
            }
          }

          > legend{
            display: inline-block;
            @media screen and (min-width: $break-ipad-portrait) {
              display: none;
            }
          }

          > .radio{
            @media screen and (min-width: $break-ipad-portrait) {
              margin-left: 6.1%;
            }
          }


          > .text, > .number, > .date, > .password, > .email {
            height: 40px;
            width: 99%;

            @media screen and (min-width: $break-ipad-portrait) {
              width: 55%;
              float: right;
              margin-left: 5%;
            }
          }
        }

        > .submit{
          width: 100%;
          height: 52px;


          @media screen and (min-width: $break-ipad-portrait) {
            margin: 0 auto;
            width: 56%;
            display: table;
            float: right;
          }
        }

        &_title{
          padding-left:20px;
          width: 88.60759493670886%;
        }

        &_note{
          @media screen and (min-width: $break-ipad-portrait) {
            float: right;
            position: relative;
            top: 55px;
            left: 85px;
          }
        }
        &_agreementLink{
          @media screen and (min-width: $break-ipad-portrait) {
            width: 56%;
            float: right;
          }
        }
      }
    }

    &_footer {
      height: 109px;
      background: $color-dark;
      color: $color;

      &-copyright{

      }
    }
}




///* iPad (landscape) ----------- */
//@media screen and (max-width:960px) {
//
//}
//
///* ipad (portraid) --------- */
//@media only screen and (max-width : 640px) {
//
//}
//
///* Smartphones (landscape) ----------- */
//@media only screen and (max-width : 480px) {
//
//}
///* Smartphones (portrait) ----------- */
//@media only screen and (max-width : 320px) {
//
//}