/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */
 
//@import 'angular_material';
/* MIXINS */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/*RESET*/
body {
  margin: 0;
  padding: 0;
}

/* VARIABLES */
// COLORS 
$primary-bg: #FFFFFF;

// DIMENSIONS 
$header-height: 125px;


/* APP ID */
#Dashboard {

    &-header {

    }
    
    &-footer {
    
    }
}

/* APP CLASS */
.app{
  width:  316px;
  height: 100%;
  background: $primary-bg;
  margin: 0 auto;

    &_toolbar{
      width:  100%;
      height: 58px;
      background: grey;
      border-bottom: 10px solid dimgrey;
      margin-bottom: 75px;
      text-align: right;

      &_hamburger{
        width: 25px;
        height: 25px;
        background: red;
        margin: 20px 20px 0 0;
        display: inline-block;
      }
    }

    &_signIn{
      height: 64px;
      background: grey;
      text-align: center;
      vertical-align: baseline;

      &_text{
        display: inline-block;
      }
    }

    &_connectionType{
      height: 50px;
      background: grey;
      border-top: 1px solid green;
      text-indent: 15px;
      vertical-align: baseline;

      &_text{
        display: inline-block;
      }
    }

    &_section{
      height: 995px;
      margin-bottom: 158px;
      background: darkgoldenrod;

      &_form{
        &_title{

        }
      }
    }

    
    &_footer {
      height: 109px;
      background: blue;

      &_copyright{

      }
    }
}