/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */
 
//@import 'angular_material';
/* MIXINS */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/*RESET*/
body {
  margin: 0;
  padding: 0;
}

/* VARIABLES */
// COLORS 
$color: #2ca1b6;
$color-bg: #FFFFFF;
$color-grey:#f2f1eb;
$color-dark:#343a3f;
$color-button:#f0c702;

// TEXT
$text-indent: 15px;


// DIMENSIONS 
$header-height: 125px;


/* APP ID */
#Dashboard {

    &-header {

    }
    
    &-footer {
    
    }
}

/* APP CLASS */
.app{
  width:  316px;
  height: 100%;
  background: $color-bg;
  margin: 0 auto;
  font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;

    &_toolbar{
      width:  100%;
      height: 58px;
      border-bottom: 10px solid $color;
      text-align: right;

      &_hamburger{
        width: 25px;
        height: 25px;
        background: $color-grey;
        margin: 20px 20px 0 0;
        display: inline-block;
      }
    }

    &_tabs{
      width: 100%;
      height: 75px;
      vertical-align: baseline;

      &_tab{
        display: inline-block;
        width: 33.3%;
        background: $color-grey;
        height: 100%;
        text-align: center;
        line-height: 70px;
        text-decoration: none;
        font-weight: bolder;
        color: $color;
      }
    }

    &_signIn{
      height: 64px;
      text-indent: 7px;
      text-align: left;
      vertical-align: baseline;

      &_text{
        line-height: 30px;
        display: inline-block;
      }
    }

    &_connectionType{
      height: 50px;
      border-top: 1px solid $color-grey;
      text-indent: $text-indent;
      vertical-align: baseline;

      &_text{
        display: inline-block;
        font-weight: bold;
      }
    }

    &_section{
      height: 995px;
      margin-bottom: 158px;

      &_form{
        display: inline-block;

        &_title{
          text-indent: $text-indent;
          width: 100%;


        }
      }
    }

    &_footer {
      height: 109px;
      background: $color-dark;

      &_copyright{

      }
    }
}