&_toolbar{
  width:  100%;
  height: 58px;
  border-bottom: 10px solid $color;
  text-align: right;
  cursor: pointer;
  @include no-select(none);

  &_hamburger{
    width: 25px;
    height: 18px;
    margin: 20px 20px 0 0;
    display: inline-block;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
  }

  &__middleLine{
    border-top: 2px solid grey;
    height: 1px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}