md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right')
  md-toolbar.md-theme-light
    h1.md-toolbar-tools Sidenav Right
         
  md-content.md-padding(ng-controller='RightCtrl')
    md-button.md-primary(ng-click='close()') Close Sidenav Right
