div.app_SideNav_Tools(flex="30",layout='row')
  div(flex)
  div(flex="20")
    md-button.app_Fab.md-fab.md-primary.md-hue-1(aria-label="Add") 
      span.app_Fab_Add +
    h4.app_h4.tac Add Server  
  div(flex="20")
    md-button.app_Fab.md-fab.md-primary.md-hue-1(ng-disabled,aria-label="Sub") 
      span.app_Fab_Sub -
    h4.app_h4.tac Destroy  
      
  div(flex)