extends layout

block metaBlock
    meta(charset="utf-8")
    title Form
    meta(name="author", content="Andrii Trybynenko")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.9, user-scalable=yes")
    link(href='images/favicon.ico', rel='shortcut icon', type='image/x-icon')
    
    
block application
    body.app

        div.app_toolbar
            div.app_toolbar_hamburger

        nav.app_tabs
            a(href="#").app_tabs_tab TAB1
            a(href="#").app_tabs_tab TAB2
            a(href="#").app_tabs_tab TAB3

        div.app_signIn
            p.app_signIn_text Login

        div.app_connectionType
            p.app_connectionType_text Secured

        section.app_section
            form.app_section_form
                h3.app_section_form_title Register

        footer.app_footer