extends layout

block application
    body.app(itemprop="mainContentOfPage")

        .app_toolbar
            .app_toolbar_hamburger
                .app_toolbar__middleLine

        nav.app_tabs
            a(href="#").app_tabs_tab TAB1
            a(href="#").app_tabs_tab TAB2
            a(href="#").app_tabs_tab TAB3

        .app_signIn
            p.app_signIn_text Login

        .app_connectionType
            p.app_connectionType_text Secured

        section.app_section(itemscope, itemtype="https://schema.org/RegisterAction")
            h3.app_section_form_title(itemprop="name") Register
            form.app_section_form(method="post", action="index.html", accept-charset="utf-8")
                include form.jade
                h4.app_section_form_agreementLink
                    | agreement &nbsp
                    a(href="#", itemprop="url") Link
                input#contact-submit.submit(
                    name="submit_form",
                    value="Submit",
                    type="submit",
                    itemprop="target"
                )
                h4.app_section_form_note *Additional

        footer.app_footer
            div Footer text
        .app_footer-copyright &copy;trybynenko