doctype html
html(lang="en", ng-app="msDashboard")
  head
    block metaBlock

    // inject:css 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 

    // inject:js 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 

  body.mainApp(ng-controller="DashboardController", ng-cloak)

    header
      md-toolbar.md-primary
        .md-toolbar-tools
          | my title lol 1
          span( flex )
          md-button
            | look ! a button !
    
    section(layout='row', flex, layout-fill)
      ng-include(src="/assets/sideBarLeft.html")
             
      md-content#Dashboard.md-padding(flex)  
        div(layout='column', layout-fill='', layout-align='top center')
          p The left sidenav will &apos;lock open&apos; on a medium (&gt;=960px wide) device.
                   
          div
            md-button.md-primary(ng-click='toggleLeft()', hide-gt-md='') Toggle left
                  
          div
            md-button.md-primary(ng-click='toggleRight()') Toggle right
               
        div(flex='')
           
      ng-include(src="/assets/sideBarRight.html")
