doctype html
html(lang="en")
  head
    block metaBlock

    // inject:css 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 

    // inject:js 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 

  // Document
  body
    
    block application