doctype html
html(lang="en", ng-app="msDashboard")
  head
    block metaBlock

    // inject:css 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 

    // inject:js 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 

  // Document
  body.app(ng-controller="DashboardController", ng-cloak, layout='row', flex, layout-fill)

    // Left Navigation
    md-sidenav#SideNav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="true")
      md-content#SideNavContent.md-padding(layout='column', layout-fill, ng-controller='LeftCtrl')
        div.ToolsAddSub
        div.ToolsAvalibleApps
        div(flex)
    
    // Main Content         
    md-content#Dashboard.md-padding(flex)
      div(layout='column', layout-fill, layout-align='top center')
      div(flex)
             

