doctype html
html(lang="en", itemscope, itemtype="http://schema.org/WebPage" )
  head
    include seo.jade
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    link(href='images/favicon.ico', rel='bar-icon', type='image/x-icon')
    title Form
    block meta_seo
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.9, user-scalable=yes")
    meta(name="apple-mobile-web-app-capable",            content="yes" )
    meta(name="apple-mobile-web-app-status-bar-style",    content="black-translucent")


    // inject:css 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 

    // inject:js 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 

  // Document
  block application