doctype html
html(lang="en")
    head
        block metaBlock
        // Style
        link(rel='stylesheet', href='css/main.css' ,type="text/css")
        style body {font-size: 13px!important;}
        // Libs src
        block libs
        // App
        block app_prod

    body#admin-crud-app
        div#admin-crud-component(admin)



